<%- include('../partials/header.ejs')%>
<main>
    <Section class="">
        <h2>Welcome,  <%= profile.firstName + " " + profile.lastName%></h2>
        <%if (connections.length) { %>
            <section class="category">
                <h2> You have created the following connections </h2>
            </section>
            
            <table class="profile-connection-table">
                <tr>
                    <th class="table-left-colum" ><h3>connection Name</h3></th>
                    <th><h3>Topic</h3></th>
                    <th><h3>Actions</h3></th>
                </tr>
                <% connections.forEach(connection => { %>
                <tr>
                    <td class="table-left-colum">
                        <h3><a class="connection-link" href="/connections/<%= connection._id %>"><%= connection.title %></a></h3>
                    </td>
                    <td><%= connection.category %></td>
                    <td> 
                        <form>
                        <button class="rsvp-btn-no" type="submit" formmethod="POST" formaction="/connections/<%= connection._id%>?_method=DELETE">Delete</button>
                        <button class="rsvp-btn-maybe" type="submit" formmethod="GET" formaction="/connections/<%= connection._id%>/edit">Update</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </table>

              <% }else{ %>
            <p> You have not created any connections. </p>
            <% } %>
    </Section>
    <section class="rsvp-ed-connections">
       <% if(rsvp_connections.length){ %>
        <section class="category">
            <h2> You have given RSVP response to following connections. </h2>
        </section>
            <table>
                <tr>
                    <th class="table-left-colum" ><h3>connections</h3></th>
                    <th><h3>Topic</h3></th>
                    <th><h3>Going</h3></th>
                    <th><h3>Actions</h3></th>
                </tr>
               <% rsvp_connections.forEach(connection=>{ %>
                    <tr>
                        <td class="table-left-colum"> <h3><%= connection.connection.title %></h3></td>
                        <td><%= connection.connection.category %></td>
                        <td><%= connection.commitment %></td>
                        <td>
                            <form action="">
                                <button type="submit" class="rsvp-btn-maybe" formmethod="GET" formaction="/connections/<%= connection.connection._id %>">Update</button>
                                <button id="rsvp-btn-maybe" class="rsvp-btn-no" type="submit" formmethod="POST" formaction="/connections/<%= connection.connection._id %>/rsvp?_method=DELETE">Delete</button>
                            </form>
                        </td>
                    </tr>
               <% }); %>
            </table>
        <% }else{ %>
            <p> You have no RSVP to any connections. </p>
        <% } %>

    </section>

</main>
    <%- include('../partials/footer.ejs')%>