<%- include('../partials/header.ejs') %>
    <!--
        main section
    -->
    <main>
        <%= %>
        <% if(Object.keys(conn).length>0){%>
            <section class="category">
                <% for(let key in conn){ %>
                <h2><%= key%></h2>
                <article class="connection-in-category">
                    <% conn[key].forEach(conn =>{ %>
                        <h3><a class="connection-link" href="/connections/<%= conn._id %>"><%= conn.title %></a></h3>
                    <% });%>
                </article>
                <% }%>
                
            </section>
        <%}else{%>
            <h2>There are no Connections to display</h2>
        <%} %>
        
    </main>
    <!--
        footer section
    -->
    <%- include('../partials/footer.ejs') %>